# **Python Basics**
**Values**

*   A value is the fundamental thing that a program manipulates
*   Values can be ‘Hello Python’, 1 , True
Values have types.

# **Variable**
1.   One of the most basic and powerful concepts is
that of a variable.
2.   A variable assigns a name to a value.
Variables are nothing more than reserved memory locations that store values.
3. Python variables does not need explicit declaration to reserve memory.
4.Unlike C/C++ and Java, variables can change types

In [ ]:
message = 'Hello Python!'

In [ ]:
print(message)

Hello Python!

# **Data Types**


### 1.   Numeric Types


*   Integer Types: 92, 12, 0, 1
*   Floats (Floating point numbers): 3.1415
*   Complex Numbers: a + b*i (composed of real and imaginary component, both of which are floats a + b*i)
*   Booleans: True/False are a subtype of integers (0 is false, 1 is true)

2.   Strings
*   ‘Hello Python’
*  'India'

3.  Sequence types:


*   Lists : [1,2,3,4,5]
*   Tuples: (1, 2)
*   Ranges:

In [ ]:
x = 1         # assign variable x the value 1
y = x + 5     # assign variable y the value of x plus 5
print(type(x))
z = y         # assign variable z the value of y
a = 10.5      # assign variable a the value of 10.5 float
b = True      # assign variable b the value True boolean
x = 10.5

print(type(x))

<class 'int'>
<class 'float'>

In [ ]:
x = 'Hello'
print(type(x))

<class 'str'>

In [ ]:
name = 'Python'

name_1 = 'Python1'

In [ ]:
1Name = 'Python'

SyntaxError: invalid decimal literal (<ipython-input-9-6faee2e0e91c>, line 1)

In [ ]:
def  = 10

SyntaxError: invalid syntax (<ipython-input-10-86e81de2c8a8>, line 1)

In [ ]:
x = 1       # integer
x = 1.0     # decimal (floating point)
x = 10
print(type(x)) # outputs: <class 'int'>

<class 'int'>

In [ ]:
x = 10.0
print(type(x)) # outputs: <class 'float'>
x = True

print(type(x))

y = False

print(type(y))

<class 'float'>
<class 'bool'>
<class 'bool'>

In [ ]:
x = 'This is a string'
print(x) # outputs: This is a string
print(type(x)) # outputs: <class 'str'>
y = "This is also a string"
x = 'Hello' + ' ' + 'World!'
print(x) # outputs: Hello World!

In [ ]:
planets_in_solar_system = 8 # int, pluto used to be the 9th planet, but is too small
distance_to_alpha_centauri = 4.367 # float, lightyears
can_liftoff = True
shuttle_landed_on_the_moon = "Apollo 11" #string

# **Modules**


1.   module is a file containing Python definitions and statements
2.   not all functionality available comes automatically when starting Python
1.   extra functionality can be added by importing modules
1.   objects in the module can be accessed  by prefixing them with the module name

In [ ]:
import math

In [ ]:
math.pow(2 , 3)

8.0

In [ ]:
import random

In [ ]:
random.randint(1, 70)

48

In [ ]:
from pathlib import Path

Comments Start with a `#`

In [ ]:
# This is a comment

**Putting All things together**

---


Now we will write a program to calculate Simple Intrest

In [ ]:
rate = 10

In [ ]:
principle = 1000

In [ ]:
time = 3

In [ ]:
intrest = (rate * principle * time)/100

In [ ]:
print('Intrest is ', intrest)

Intrest is  300.0

## Operations

In [ ]:
answer = 30 + 12
print(answer)

# Output: 42

In [ ]:
difference = 30 - 12
print(difference)

In [ ]:
product = 30 * 12
print(product)

In [ ]:
quotient = 30 / 12
print(quotient)

2.5

In [ ]:
seconds = 1042
display_minutes = 30 // 12
print(display_minutes)

2

In [ ]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

In [ ]:
endVelocity = 60
startVelocity = 0
acceleration = 9.8

time = (endVelocity - startVelocity) / acceleration
print("Time to reach desired velocity = ", time)

# **Indentation**
1.  In Python, blocks of code are defined using indentation
1.  The indentation within the block needs to be consistent
1.  The first line with less indentation is outside of the block
1.  The first line with more indentation starts a nested block
1.  Often a colon appears at the start of a new block

## Conditionals

In [ ]:
x = 7
if x<10:
    print('x is less than 10')
    print('Conditional Statements')
    print('Inside')
print('outside if')

x is less than 10
Conditional Statements
Inside
outside if

In [ ]:
n = 10
if n == 1:
    print('n equals 1')
else:
    print('n does not equal 1')
print('This is not part of the condition')

n does not equal 1
This is not part of the condition

## `and` and `or` operators

In [ ]:
a = 23
b = 34
if a == 34 or b == 34:
    print(a + b)

57

In [ ]:
a = 23
b = 34
if a == 34 and b == 34:
    print (a + b)

# **Strings**

*   Strings are text values like ‘Hello Anaconda’
*   Strings can be enclosed in single quote ‘ ..’ or double quotes “…”

In [ ]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [ ]:
print(moon_radius)

The Moon has a radius of 1,080 miles

In [ ]:
fact = 'The "near side" is the part of the Moon that faces the Earth'

In [ ]:
print(fact)

The "near side" is the part of the Moon that faces the Earth

In [ ]:
multi_line = '''Facts about the Moon:
             There is no atmosphere.
             There is no sound.'''

In [ ]:
print(multi_line)

Facts about the Moon:
             There is no atmosphere.
             There is no sound.

In [ ]:
"Moon" in "This text will describe facts and challenges with space travel"

False

In [ ]:
"Moon" in "This text will describe facts about the Moon"

True

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
                  while Mars has -28 Celsius."""

In [ ]:
temperatures.find("Moon")

-1

In [ ]:
temperatures.find("Mars")

82

In [ ]:
temperatures.count("Mars")

1

In [ ]:
temperatures.count("Moon")

0

In [ ]:
"The Moon And The Earth".lower()

Strings can be *indexed* (subscripted), with the first character having index 0.

In [ ]:
 word = 'Python'

In [ ]:
word[0]

'P'

In [ ]:
word[5]

'n'

indices may also be negative numbers, to start counting from the right.

In [ ]:
word[-1]  # last character

'n'

In [ ]:
word[-2]  # second-last character

'o'

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [ ]:
 word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [ ]:
text = 'Put several strings within parentheses '+\
        'to have them joined together.'

In [ ]:
text

'Put several strings within parentheses to have them joined together.'

# **Lists**
1.  ordered sequence of information, accessible by index
1.  a list is denoted by square brackets, [ ]
1.  a list contains usually homogenous elements
1.  list elements can be changed so a list is mutable

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
print("The first planet is", planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [ ]:
planets[3] = "Red Planet"
print("Mars is also known as", planets[3])

Mars is also known as Red Planet

In [ ]:
number_of_planets = len(planets)
print("There are", number_of_planets, "planets in the solar system.")

In [ ]:
planets.append("Pluto")
number_of_planets = len(planets)
print("There are actually", number_of_planets, "planets in the solar system.")

In [ ]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print("No, there are definitely", number_of_planets, "planets in the solar system.")

# **Tuple**
1.  tuple consists of a number of values separated by commas
1.  cannot change element values, immutable
1.  tuples always enclosed in parenthesis  
1.  used to return more than one value from a function

In [ ]:
t = (12345, 54321, 'hello!')

In [ ]:
t

(12345, 54321, 'hello!')

In [ ]:
t[0]

12345

In [ ]:
u = t, (1, 2, 3, 4, 5) # Tuples may be nested:

In [ ]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
t[0] = 88888 # Tuples are immutable:

TypeError: 'tuple' object does not support item assignment

In [ ]:
x, y, z = t
print(x)
print(y)
print(z)

12345
54321
hello!

# **Sets**
1.  A set is an unordered collection with no duplicate elements
1.  set objects also support mathematical operations like union, intersection, difference, and symmetric difference

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [ ]:
basket_l = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [ ]:
print(basket_l)# show that duplicates have been removed

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [ ]:
'orange' in basket                 # fast membership testing

True

In [ ]:
'crabgrass' in basket

False

In [ ]:
a = set('abracadabra')
b = set('alacazam')

In [ ]:
a - b

{'b', 'd', 'r'}

# **Dictionary**
1.  dictionary is a set of key:value pairs
1.  dictionaries are indexed by keys, which can be any immutable type
1.  dictionary stores a value with some key and extracts the value given the key

In [ ]:
telephone = {'jack': 4098, 'sape': 4139,'alpha':1099,'beta':1000}
telephone

{'jack': 4098, 'sape': 4139, 'alpha': 1099, 'beta': 1000}

In [ ]:
telephone['jack']

4098

In [ ]:
telephone['king'] = 4127
telephone

{'jack': 4098, 'sape': 4139, 'alpha': 1099, 'beta': 1000, 'king': 4127}

In [ ]:
del telephone['sape']

In [ ]:
telephone

In [ ]:
'jack' in telephone

True

## While and For Loops

In [ ]:
user_input = ''

while user_input.lower() != 'done':
    user_input = input('Enter a new value, or done when done')

Enter a new value, or done when done1
Enter a new value, or done when done2
Enter a new value, or done when donedone

In [ ]:
# Create the variable for user input
user_input = ''
# Create the list to store the values
inputs = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input:
        # Store the value in the list
        inputs.append(user_input)
    # Prompt for a new value
    user_input = input('Enter a new value, or done when done')

In [ ]:
countdown = [4, 3, 2, 1, 0]
for number in countdown:
    print(number)
print("Blast off!! 🚀")

4
3
2
1
0
Blast off!! 🚀

In [ ]:
from time import sleep

countdown = [4, 3, 2, 1, 0]

for number in countdown:
    print(number)
    sleep(1)  # Wait 1 second
print("Blast off!! 🚀")

4
3
2
1
0
Blast off!! 🚀

### To iterate over a sequence of numbers, the built-in function range() comes in handy.

In [ ]:
for i in range(5):
    print(i,end=',')

0,1,2,3,4,

In [ ]:
for i in range(5,10):
    print(i,end=',')

5,6,7,8,9,

In [ ]:
for i in range(5,10,2):
    print(i,end=',')

5,7,9,

# **break  and continue Statements**
1.  break statement breaks out of innermost enclosing for or while loop.
1.  continue statement continues with the next iteration of the loop skipping remaining statements.

In [ ]:
for i in range(50):
    if i==4:
        break
    print(i)

0
1
2
3

In [ ]:
for i in range(5):
    if i==2:
        continue
    print(i)

0
1
3
4

# **Write and call/invoke a function**
If its find that  the same bits of code is reused over and over, you can create your own function and call that instead of         repeating the same code.

In [ ]:
def rocket_parts():
    print("payload, propellant, structure")

In [ ]:
rocket_parts()

payload, propellant, structure

In [ ]:
def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

In [ ]:
dist = distance_from_earth('Moon')

In [ ]:
distance_from_earth("Moon")

In [ ]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [ ]:
days_to_complete(238855, 90)

# Reading File

In [ ]:
f = open('/content/sample_data/work.txt')

lines = f.read() # Entire file is read
print(lines)
f.close()

Hello
India
Welcme

In [ ]:
f = open(r'/content/sample_data/work.txt','r')

In [ ]:
for line in f:
    print(line)
f.close()

Hello

India

Welcme

In [ ]:
with open(r'd:\work.txt','r')as f:
    for line in f:
        print(line,end='')

# Writing to file

In [ ]:
value = ('the answer is ', 42)
with open('workfile2.txt','w') as f:
    s=str(value)
    f.write(s)

## Thank You